body {
	background: none;
	/*background-image: url(horns.png);*/
}

.full {
	background: url(http://wallpapercave.com/wp/F85GHXH.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Index page formatting*/
.aboutme {
	background-color: #fff;
	word-wrap: normal;
}

/*Index page formatting*/
.profimage {
	float: left;
	padding: 5px;
}

/*all h2 header formatting*/
h2 {
	color: #fff;
}




/*footer formatting*/
.footer {
	background-color: #fff;
	text-align: center;
}

